<form th:action="@{~/matkul/save}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="modal-header bg-warning">
        <h3 class="modal-title">Detail Matakuliah</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="code">Kode</label>
                <input readonly="readonly" type="text" name="code" id="code" class="form-control"
                       th:value="${data.code}">

                <div class="form-group">
                    <label for="name">Nama</label>
                    <input readonly="readonly" type="text" name="name" id="name" class="form-control"
                           th:value="${data.name}">
                </div>

                <div class="form-group">
                    <label for="sks">Sks</label>
                    <input readonly="readonly" type="text" name="sks" id="sks" class="form-control"
                           th:value="${data.sks}">
                </div>
            </div>
            <div class="modal-footer justify-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>
