<!-- card mulai -->
<form th:action="@{~/jurusan/save}" id="form-input" method="post" th:object="${jurusan}">
    <div class="modal-header bg-warning">
        <h3 class="modal-title">New Jurusan</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <label for="code">Kode</label>
                <input id="code" type="text" th:field="*{code}"
                       th:class="${#fields.hasErrors('code')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('code')}" class="error invalid-feedback" th:errors="*{code}"></span>
            </div>
            <div class="form-group">
                <label for="name">Nama</label>
                <input id="name" type="text" th:field="*{name}"
                       th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid': 'form-control'">
                <span th:if="${#fields.hasErrors('name')}" class="error invalid-feedback" th:errors="*{name}"></span>
            </div>
            <div class="form-group">
                <label for="fakultasId">Fakultas</label>
                <select id="fakultasId" th:field="*{fakultasId}"
                        th:class="${#fields.hasErrors('fakultasId')} ? 'form-control is-invalid': 'form-control'">
                    <option value="">Select One</option>
                    <option th:each="data : ${fakultasList}" th:value="${data.id}" th:text="${data.name}"
                            th:selected="${data.id == jurusan.fakultasId}">Select One</option>
                </select>
                <span th:if="${#fields.hasErrors('fakultasId')}" class="error invalid-feedback"
                      th:errors="*{fakultasId}"></span>
            </div>

            <div class="modal-footer justify-content-between">
                <button type="submit" class="btn btn-success">Simpan</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>
