<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Detail Kelas</h1>
<form th:action="@{~/kelas/save}" method="post">

    <label>Code</label><br>
    <input type="text" name="code" id="code" th:value="${kelas.code}"><br>

    <label>Nama Hari</label><br>
    <input type="text" name="namaHari" id="namaHari" th:value="${kelas.namaHari}"><br>

    <label>Jam Mulai</label><br>
    <input type="text" name="jamMulai" id="jamMulai" th:value="${kelas.jamMulai}"><br>

    <label>Jam Selesai</label><br>
    <input type="text" name="jamSelesai" id="jamSelesai" th:value="${kelas.jamMulai}"><br>

    <label>Status</label><br>
    <input type="text" name="status" id="status" th:value="${kelas.status}"><br>

    <label>Semester</label><br>
    <input type="text" name="semester" id="semester" th:value="${kelas.semester}"><br>

    <label>Tahun Ajaran</label><br>
    <input type="text" name="tahunAjaran" id="tahunAjaran" th:value="${kelas.tahunAjaran}"><br>

    <label>Kuota</label><br>
    <input type="text" name="kuota" id="kuota" th:value="${kelas.kuota}"><br>

    <label>Bisa Online</label><br>
    <input type="text" name="bisaOnline" id="bisaOnline" th:value="${kelas.bisaOnline}"><br>
</form>

</body>
</html>