<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Dosen</h1>
<form th:action="@{~/dosen/update}" method="post" th:object="${dosen}">
    <input type="hidden" name="id" th:field="*{id}">

    <label>Nip</label><br>
    <input type="text" name="nip" id="nip" th:value="${dosen.nip}"><br>

    <label>Name</label><br>
    <input type="text" name="name" id="name" th:value="${dosen.name}"><br>

    <label>Jenis Kelamin</label><br>
    <input type="text" name="jk" id="jk" th:value="${dosen.jk}"><br>

    <label>Alamat</label><br>
    <input type="text" name="alamat" id="alamat" th:value="${dosen.alamat}"><br>

    <label>Gelar</label><br>
    <input type="text" name="gelar" id="gelar" th:value="${dosen.gelar}"><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>