<form xmlns:th="http://www.thymeleaf.org" th:id="form-gedung" th:action="@{~/master/gedung/save}"
      th:method="post" th:object="${gedung}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel4">Tambah Gedung</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger errors" role="alert">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </ul>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="kode" class="form-label">Kode Gedung</label>
                    <input type="text" id="kode" name="kode" th:value="${gedung.kode}"
                           th:class="${#fields.hasErrors('kode')} ? 'form-control is-invalid' : 'form-control'" placeholder="kode">
                    <div th:if="${#fields.hasErrors('kode')}" class="invalid-feedback">
                        <span th:errors="*{kode}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" id="nama" name="nama" th:value="${gedung.nama}"
                           th:class="${#fields.hasErrors('nama')} ? 'form-control is-invalid ' : 'form-control'" placeholder="nama">
                    <div th:if="${#fields.hasErrors('nama')}" class="invalid-feedback">
                        <span th:errors="*{nama}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" name="submit" class="btn btn-primary">Simpan</button>
        </div>
    </div>
</form>