<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Address Types</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Address Type</li>
        </ol>
    </div><!-- /.col -->
</div><!-- /.row -->

<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- card mulai -->
        <div class="card">
            <!-- header -->
            <div class="card-header bg-success">
                <h3 class="card-title">Address Type</h3>

                <!--- header tools -->
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                            <a th:href="@{~/address-type/add}" id="btn-add" class="btn btn-info">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- tools end -->
            </div>
            <!-- header end -->

            <div class="card-body">
                <table id="table-data" class="table">
                    <thead>
                    <tr>
                        <td>Address Code Type</td>
                        <td>Address Desc</td>
                        <td>Billing</td>
                        <td>Delivery</td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="addressType :${addressTypeList}">
                        <td th:text="${addressType.addressCodeType}"></td>
                        <td th:text="${addressType.addressDescType}"></td>
                        <td th:text="${addressType.billing}"></td>
                        <td th:text="${addressType.delivery}"></td>
                        <td>
                            <a th:href="@{~/address-type/detail/{id}(id=${addressType.id})}"
                               class="btn btn-xs btn-info btn-detail">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a th:href="@{~/address-type/edit/{id}(id=${addressType.id})}"
                               class="btn btn-xs btn-warning btn-edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{~/address-type/delete/{id}(id=${addressType.id})}"
                               class="btn btn-xs btn-danger btn-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>>