<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Ruang</h1>
<form th:action="@{~/ruang/update}" method="post" th:object="${ruang}">
  <input type="hidden" id="id" th:field="*{id}">

  <label>Code</label><br>
  <input type="text" name="code" id="code" th:value="${ruang.code}"><br>

  <label>Name</label><br>
  <input type="text" name="name" id="name" th:value="${ruang.name}"><br>

  <button type="submit">Submit</button>
</form>

</body>
</html>