<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ruang</title>
</head>
<body>
<h1>Index Ruang</h1>
<a th:href="@{~/ruang/add}">Add New Ruang</a>
<table>
  <thead>
    <tr>
      <td>Code</td>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
  <tr th:each="ruang :${ruangList}">
    <td th:text="${ruang.code}"></td>
    <td th:text="${ruang.name}"></td>
    <td>
      <a th:href="@{~/ruang/edit/{id}(id=${ruang.id})}">Edit</a>
      <a th:href="@{~/ruang/detail/{id}(id=${ruang.id})}">Detail</a>
      <a th:href="@{~/ruang/delete/{id}(id=${ruang.id})}">Delete</a>
    </td>
  </tr>

  </tbody>
</table>

</body>
</html>