<!-- card mulai -->
<form th:action="@{~/gedung/save}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="hidden" name="id" th:value="${data.id}">
    <div class="modal-header bg-warning">
        <h3 class="modal-title">Detail Gedung</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body row">
        <div class="col-md-12 col-lg-12">
            <div class="form-group">
                <input type="hidden" name="id" th:value="${data.id}">
                <label for="code">Kode</label>
                <input id="code" type="text" name="code" class="form-control" th:value="${data.code}"
                       readonly="readonly">

                <div class="form-group">
                    <label for="name">Nama</label>
                    <input id="name" type="text" name="name" class="form-control" th:value="${data.name}"
                           readonly="readonly">
                </div>

                <div class="form-group">
                    <label for="jmlLantai">Jumlah Lantai</label>
                    <input id="jmlLantai" type="text" name="jmlLantai" class="form-control" th:value="${data.jmlLantai}"
                           readonly="readonly">
                </div>
            </div>
            <div class="modal-footer justify-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>
