<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
  <div class="col-sm-6">
    <h1 class="m-0">Edit Kelas</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a> </li>
      <li class="breadcrumb-item active">Edit Kelas</li>
    </ol>
  </div>
</div>
<div class="row" layout:fragment="content">
  <!-- left column -->
  <div class="col-lg-12 col-md-12 col-sm-12">
    <!-- general from elements -->
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Edit Kelas</h3>
      </div>
      <!-- /. card header -->
      <form th:action="@{~/kelas/update}" method="post">
        <!-- /. id di hidden -->
        <input type="hidden" id="id" th:field="*{kelas.id}">
        <!-- form start -->
        <div class="card-body">
          <div class="form-group">
            <label for="code">Code Kelas</label>
            <input type="text" class="form-control" name="code" id="code" placeholder="Enter Code Kelas" th:value="${kelas.code}">
          </div>
          <div class="form-group">
            <label for="namaHari">Name Hari</label>
            <input type="text" class="form-control" name="namaHari" id="namaHari" placeholder="Enter Nama Hari" th:value="${kelas.namaHari}">
          </div>
          <div class="form-group">
            <label for="jamMulai">Jam Mulai</label>
            <input type="time" class="form-control" name="jamMulai" id="jamMulai" placeholder="Enter Jam Mulai" th:value="${kelas.jamMulai}">
          </div>

          <div class="form-group">
            <label for="jamSelesai">Jam Selesai</label>
            <input type="time" class="form-control" name="jamSelesai" id="jamSelesai" placeholder="Enter Jam Selesai" th:value="${kelas.jamSelesai}">
          </div>

          <div class="form-group">
            <label for="ruangId">Ruang</label>
            <select id="ruangId" name="ruangId" class="form-control">
              <option value="">Select One</option>
              <option th:each="ruang :${ruangList}" th:value="${ruang.id}" th:text="${ruang.name}"
                      th:selected="${ruang.id == kelas.ruangId}">Select One
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="matakuliahId">Matakuliah</label>
            <select id="matakuliahId" name="matakuliahId" class="form-control">
              <option value="">Select One</option>
              <option th:each="matkul :${matakuliahList}" th:value="${matkul.id}" th:text="${matkul.name}"
                      th:selected="${matkul.id == kelas.matakuliahId}">Select One
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="dosenId">Dosen</label>
            <select id="dosenId" name="dosenId" class="form-control">
              <option value="">Select One</option>
              <option th:each="dosen :${dosenList}" th:value="${dosen.id}" th:text="${dosen.name}"
                      th:selected="${dosen.id == kelas.dosenId}">Select One
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" name="status" id="status" placeholder="Enter Status" th:value="${kelas.status}">
          </div>

          <div class="form-group">
            <label for="semester">Semester</label>
            <input type="text" class="form-control" name="semester" id="semester" placeholder="Enter Semester" th:value="${kelas.semester}">
          </div>

          <div class="form-group">
            <label for="tahunAjaran">Tahun Ajaran</label>
            <input type="text" class="form-control" name="tahunAjaran" id="tahunAjaran" placeholder="Enter Tahun Ajaran" th:value="${kelas.tahunAjaran}">
          </div>

          <div class="form-group">
            <label for="kuota">Kuota</label>
            <input type="text" class="form-control" name="kuota" id="kuota" placeholder="Enter Kuota" th:value="${kelas.kuota}">
          </div>

          <div class="form-group">
            <label for="bisaOnline">Bisa Online</label>
            <input type="text" class="form-control" name="bisaOnline" id="bisaOnline" placeholder="Enter Bisa Online" th:value="${kelas.bisaOnline}">
          </div>

        </div>
        <!-- card body -->
        <div class="card-footer">
          <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>