<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Index Jurusan</h1>
<a th:href="@{~/jurusan/add}">Add New Jurusan</a>
<table>
  <thead>
      <tr>
        <td>Code</td>
        <td>Name</td>
      </tr>
  </thead>
  <tbody>
    <tr th:each="jurusan :${jurusanList}">
      <td th:text="${jurusan.code}"></td>
      <td th:text="${jurusan.name}"></td>
      <td>
        <a th:href="@{~/jurusan/edit/{id}(id=${jurusan.id})}">Edit</a>
        <a th:href="@{~/jurusan/detail/{id}(id=${jurusan.id})}">Detail</a>
        <a th:href="@{~/jurusan/delete/{id}(id=${jurusan.id})}">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

</body>
</html>