<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Data Person</title>
</head>
<body>
<h1>Tambah Data Person</h1>
<form th:action="@{~/person/save}" method="post">

    <label>First Name</label> <br>
    <input type="text" name="firstName" id="firstName"> <br>

    <label>Middle Name</label> <br>
    <input type="text" name="middleName" id="middleName"> <br>

    <label>Last Name</label> <br>
    <input type="text" name="lastName" id="lastName"> <br>

    <label>Address</label><br>
    <input type="text" name="address" id="address"> <br>


    <button type="submit">Submit</button>

</form>
</body>

</html>